.tm_bread_crumb {
	position: relative;
	display: inline-block;
	margin: 0 -15px;
	padding: 0;
	text-transform: none;
	li {
		display: inline-block;
		margin-right: 6px;
		a:after {
			margin-left: 10px;
			content: '/';
		}
		&:last-child {
			margin: 0;
		}
	}
}